<footer>
    <div class="footer-content">
        <div class="footer-row">
            <div>
                <img src="/images/logo.png" alt="LAW HPC Logo" class="logoImgFooter">
            </div>
            <div class="newsletter-box">
                <h3>Sign up to receive our newsletter</h3>
            </div>
        </div>
        <div class="footer-row">
            <p>Conectando a las mujeres en computación de alto rendimiento en Latinoamérica</p>
            <nav class="footer-nav">
                <ul>
                    <li><a href="/index.html" class="active">INICIO</a></li>
                    <li><a href="/pages/integrantes/integrantes.html">INTEGRANTES</a></li>
                    <li><a href="/pages/contacto/contacto.html">CONTACTO</a></li>
                    <li><a href="/pages/agenda/agenda.html">AGENDA</a></li>
                </ul>
            </nav>
        </div>
    </div>
    <p class="footer-copyright">&copy; 2025 LAW HPC. Todos los derechos reservados.</p>
</footer>